body{  font-size: 100%; font-family: 'robotoregular', sans-serif; font-weight: 400; min-width: 1004px; }

.mainWrapper{ width: 100%; float: left;; background-color: #fff;}

/* Login page Class */
.loginBlock{ width: 30%; margin: 10% auto 0; background-color: #eeeeee; border: 1px solid #cccccc; padding: 2%; min-height:225px}

.loginForm{ width: 88%; float: left; padding: 0 1em 1em 1em;}
.loginForm ul{ width: 100%; float: left; padding: 0px; margin: 0px;}
.loginForm ul li{ width: 100%; float: left; margin: 0.5em 0; list-style-type: none;}
.loginForm ul li label { width: 100%; float: left; margin:0.4em 0; font-family: 'robotoregular', sans-serif;  color: #666666; font-size: 0.8em;}
.loginForm ul li .textfield { font-size: 0.7em; width: 94%; float: left; padding: 0.5em; font-family: 'robotoregular', sans-serif; color: #666666; border: 1px solid #CCCCCC; border-radius: 5px;}
.loginButton{ padding: 0.2em 0.8em; font-size: 0.9em; border-radius: 5px; font-family: 'robotoregular', sans-serif;  color: #000; background-color: #cccccc; border: 1px solid #999999; }
.errorMessage{ color: #811515; font-size: 0.8em;}

.productBox {
	border:1px solid #000;
	float:left;
	padding:10px;
	margin:5px;
	background-color: #8E98B9;
}
